@inject IHtmlGenerator HtmlGenerator

@{
    const string DefaultBlockName = "checkBoxEditor";
    var blockClassName = Model.BlockClassName ?? DefaultBlockName;

    var modelFor = Model.For as ModelExpression;

    var labelAttributes = new Dictionary<string, object>
    {
        ["class"] = $"{DefaultBlockName}__label"
    };


    var inputAttributes = new Dictionary<string, object>
    {
        ["class"] = $"checkBox {DefaultBlockName}__input"
    };

    var isRequired = modelFor.Metadata.RequiredAttrExists();
    if (isRequired)
    {
        inputAttributes["required"] = "";
        inputAttributes["class"] = inputAttributes["class"] + " required";
        labelAttributes["class"] = labelAttributes["class"] + " required";
    }

    if (Model.Disabled == true)
    {
        inputAttributes["disabled"] = "";
    }

    if (!string.IsNullOrEmpty(Model.Placeholder))
    {
        inputAttributes["placeholder"] = Model.Placeholder;
    }

    var labelPositionModifier = Model.LabelPosition switch
    {
        LabelPosition.Right => "__label_right",
        LabelPosition.Left => "__label_left",
        _ => "__label_right",
    };

    var labelPositionLeft = Model.LabelPosition == LabelPosition.Left;

    if (labelPositionModifier != string.Empty)
    {
        labelAttributes["class"] = labelAttributes["class"] + $" {DefaultBlockName}{labelPositionModifier}";
    }

    var blockId = string.IsNullOrEmpty(Model.Id) ? string.Empty : $"id={Model.Id}";

    var label = Model.Label != null
        ? HtmlGenerator.GenerateLabel(
            Model.ViewContext,
            modelFor.ModelExplorer,
            modelFor.Name,
            Model.Label as string,
            labelAttributes)
        : null;

    var input = HtmlGenerator.GenerateCheckBox(
        Model.ViewContext,
        modelFor.ModelExplorer,
        modelFor.Name,
        (bool)modelFor.Model,
        inputAttributes);
}


<style asp-src="~/Lombiq.UIKit/css/checkBox.min.css" debug-src="~/Lombiq.UIKit/css/checkBox.css"></style>

<div @blockId class="@blockClassName @DefaultBlockName @Model.Class">
    @input
    @label
</div>
