@using Microsoft.AspNetCore.Mvc.Localization
@using static Lombiq.UIKit.Constants.Classes

@inject IHtmlGenerator HtmlGenerator

@{
    const string DefaultInputClass = DefaultCheckBoxBlockName + InputElement;
    const string DefaultLabelClass = DefaultCheckBoxBlockName + LabelElement;

    var customBlockClasses = Model.BlockClassName;

    var blockId = string.IsNullOrEmpty(Model.BlockId) ? string.Empty : $"id={Model.BlockId}";

    var labelAttributes = new Dictionary<string, object>
    {
        ["class"] = $"{DefaultLabelClass} {DefaultLabelClass}" +
        $"{(Model.LabelPosition != LabelPosition.Left ? LabelPositionModifierRight : LabelPositionModifierLeft)} "
    };

    var inputAttributes = new Dictionary<string, object>
    {
        ["class"] = $"{DefaultInputClass} "
    };

    var modelFor = Model.For as ModelExpression;
    var isRequired = modelFor.Metadata.RequiredAttrExists();
    if (isRequired)
    {
        inputAttributes["required"] = string.Empty;
        inputAttributes["class"] = inputAttributes["class"] + $"{DefaultInputClass}{RequiredModifier} ";
        labelAttributes["class"] = labelAttributes["class"] + $"{DefaultLabelClass}{RequiredModifier} ";
    }

    if (Model.Disabled == true)
    {
        inputAttributes["disabled"] = string.Empty;
    }

    var label = Model.Label != null
        ? HtmlGenerator.GenerateLabel(
            Model.ViewContext,
            modelFor.ModelExplorer,
            modelFor.Name,
            (Model.Label as LocalizedHtmlString)?.Value,
            labelAttributes)
        : null;

    var input = HtmlGenerator.GenerateCheckBox(
        Model.ViewContext,
        modelFor.ModelExplorer,
        modelFor.Name,
        (bool)modelFor.Model,
        inputAttributes);
}

<style asp-src="~/Lombiq.UIKit/css/checkBox.min.css" debug-src="~/Lombiq.UIKit/css/checkBox.css"></style>

<div @blockId class="@DefaultCheckBoxBlockName @customBlockClasses">
    @input
    @label
    <span class="@(DefaultCheckBoxBlockName + AsteriskElement)">*</span>
</div>
