.checkBoxEditor {
    position: relative;

    &__input {
        position: absolute;
        left: 0;
        opacity: 0;

        + .checkBoxEditor__label {
            /* checkbox */
            &:before {
                content: '';
                position: absolute;
                left: 0;
                top: 0.3em;
                width: 0.9375em;
                height: 0.9375em;
                border: 1px solid #BBBBBB;
                background: #FFF;
                border-radius: 0.125em;
            }
            /* checkbox - label position left */
            &_left:before {
                right: 0;
                top: 0.3em;
                left: unset;
            }
            /* check mark */
            &:after {
                content: "";
                position: absolute;
                display: block;
                left: 0.35em;
                top: 0.45em;
                width: 0.3125em;
                height: 0.5em;
                border: solid white;
                border-width: 0 0.125em 0.125em 0;
                -webkit-transform: rotate( 45deg );
                -ms-transform: rotate(45deg);
                transform: rotate( 45deg );
            }
            /* check mark - label position left */
            &_left:after {
                left: unset;
                right: 0.3em;
                top: 0.45em;
            }
        }

        &:checked {
            /* checkbox when checked*/
            + .checkBoxEditor__label:before {
                background: #3497FF;
                border: 1px solid #3497FF;
            }
        }

        &:not(:checked) {
            /* check mark when not checked */
            + .checkBoxEditor__label:after {
                display: none;
            }
        }

        /* Disabled checkbox */
        &:disabled {
            + .checkBoxEditor__label {
                color: lightslategray;

                &:before {
                    box-shadow: none;
                    border-color: grey;
                    background-color: grey;
                }
            }

            &:checked {
                + .checkBoxEditor__label:after {
                    border-color: lightgrey;
                }
            }
        }

        &:focus {
            + .checkBoxEditor__label:before {
                box-shadow: inset 0 0px 3px rgb(0 0 0 / 0%), 0 0 0 1px rgb(99 99 99 / 16%);
            }
        }
    }

    &__label {
        position: relative;
        padding-left: 1.25em;
        user-select: none;
        cursor: pointer;

        &_left {
            padding-left: 0em;
            padding-right: 1.25em;
        }
    }
}
