/* Textbox styling for solving red asterisk in the placeholder */
.textboxEditor {
    position: relative;

    &__placeholder {
        position: absolute;
        top: 0rem;
        left: 0.75rem;
        height: 2.375rem;
        display: none;
    }

    &__iconContainer {
        width: 2.5em;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &_iconOnLeft {
        display: flex;

        > .textboxEditor__placeholder {
            left: 3rem;
        }
    }
}

:not(.textboxEditor__label_none).textboxEditor__label_required:after {
    content: '*';
    color: red;
}
